@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Index";
}
<h1>Ürünler</h1>
<a class="btn btn-primary mb-3" asp-action="Create" asp-controller="Products">Ürün Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Ürün Stoğu</th>
            <th>Ürün Fiyatı</th>
            <th>Kategori Id</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>@item.CategoryId</td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Products" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>